// _general.scss 			./partials
////////////////////////////////////////////////////////////


body {
  color: $mine-shaft;
  background-color: $off-white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
